[noaa_precip]
# last update: 3/17/2017
#
# process_hourly.py
#
update_table : HCFCD.DBO.thiessen
hrap_val_table : HCFCD.DBO.hrap_val
depth_table_prefix : HCFCD.DBO.FC_
precip_db : precipddf.db
arcpy_workspace : Database Connections\\FN27963.HCFCD.sde\\HCFCDD.DBO.hrap
clip_boundary : \\Data\\Texas_buffer.shp
cnn_string : Driver={SQL Server};Server=FN27963\SQLEXPRESS;Database=HCFCD
in_features : DatabaseConnections\\FN27963.HCFCD.sde\\HCFCD.DBO.hrap\\all_pts
#
# wget.py
#
base_link : http://www.srh.noaa.gov/data/ridge2/Precip/qpehourlyshape/yyyy/yyyyMM/yyyyMMdd/
gz_file : nws_precip_yyyyMMddhh.tar.gz
shp_root_prefix : nws_precip_
